body {
    margin: 2%;
    font-size:110%;
    font-family: 'Lato', sans-serif;
    color: #2C3E50;
    background-color: #f5fbfc;
}

h2 {
    text-align: center
}
a {
    text-decoration: none;
    color: #FF3389;
}
a:hover {
    text-decoration: none;
    color: #FF80B5;
}
img {
    max-width: 100%;
    height: auto;
}
* {
  box-sizing: border-box;
}
.col-1 {
  width: 25%;
  float: left;
  padding: 15px;
}
.col-2 {
  width: 75%;
  float: left;
  padding: 15px;
}
@media only screen and (max-width: 768px) {
  [class*="col-"] {
    width: 100%;
  }
