body {
    margin: 10px auto;
    width: 90%;
    max-width: 500px;
    font-size:100%;
    font-family:'Arimo', 'Helvetica', 'Sans-Serif';
    color: #2C3E50;
    background-color: #FDFDFD;
}
nav ul, header ul {
    padding: 0px;
    list-style: none;
    font-size:150%;
}
nav ul li, header ul li {
    display: inline;
    margin-right: 10px;
}
a {
    text-decoration: none;
    color: #465666;
}
a:hover {
    text-decoration: none;
    color: #616E7C;
}
h1 {
    color: #2C3E50;
}
p {
    line-height: 1.4;
    color: #2C3E50;
}
header {
    border-bottom: 1px solid #2C3E50;
}
ul.posts li {
     list-style: none;
 }
ul.posts { 
     margin: 10px auto; 
 }
img {
    width: 100%;
    height: auto;
}
