body {
    width: 99%;
    font-size:110%;
    font-family: 'Lato', sans-serif;
    color: #2C3E50;
    background-color: #f5fbfc;
}
body {
  margin: 0;
  font-family: "Lato", sans-serif;
}

.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #FF3389;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}
 
.sidebar a.active {
  background-color: #f5fbfc;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: #fff;
  color: white;
}

div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}
a {
    text-decoration: none;
    color: #FF3389;
}
a:hover {
    text-decoration: none;
    color: #FF80B5;
}
img {
    width: 100%;
    height: auto;
}
