<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<link rel="stylesheet" type="text/css" href="/css/main.css">
		<link href="https://fonts.googleapis.com/css?family=Arvo|Lato&display=swap" rel="stylesheet">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	<body>

		<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
<a href="/">home!</a>
<a href="/zines">zines!</a>
<a href="/allday">bread!</a>
<a href="https://jessdriscoll.substack.com">letters!</a>
<a href="/blog/">blog!</a>
<a href="/about/">about!</a>
<a href="mailto:factsarenothing@gmail.com">email!</a>
</div>

<div id="main">
  <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; menu!</span>
</div>

<script>
function openNav() {
  document.getElementById("mySidenav").style.width = "250px";
  document.getElementById("main").style.marginLeft = "250px";
}

function closeNav() {
  document.getElementById("mySidenav").style.width = "0";
  document.getElementById("main").style.marginLeft= "0";
}
</script>
		<div class="container">
    		{{ content }}
</div>
		</div>
	<!-- /.container -->
	</body>
</html>
