<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<link rel="stylesheet" type="text/css" href="/css/main.css">
		<link href="https://fonts.googleapis.com/css?family=Arvo|Lato&display=swap" rel="stylesheet">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	<body>
		<div class="sidebar">
<a href="/">home!</a>
<a href="https://jessdriscoll.itch.io">zines!</a>
<a href="https://alldaybreakfast.org">bread!</a>
<a href="https://jessdriscoll.substack.com">letters!</a>
<a href="/blog/">blog!</a>
<a href="/thegeneral/">reviews!</a>
<a href="/xoxo/">xoxo!</a>
<a href="/about/">about!</a>
<a href="mailto:factsarenothing@gmail.com">email!</a>
</div>
		<div class="content">
		<div class="container">
    		{{ content }}
		</div></div><!-- /.container -->
	</body>
</html>
