<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<link rel="stylesheet" type="text/css" href="/css/main.css">
		<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet'>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	<body>
		<header>
    		<ul>
			<li><a href="/">HOME</a></li>
            		<li><a href="/blog/">BLOG</a></li>
        		<li><a href="/shop/">SHOP</a></li>
        		<li><a href="mailto:factsarenothing@gmail.com">MAIL</a></li>
			<li><a href="/blog/atom.xml">RSS</a></li>
			</ul>
		</header>
		<div class="container">
    		{{ content }}
		</div><!-- /.container -->
	</body>
</html>
